/* BarChart.css */
.bar-chart-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.795);
  border-radius: 8px;
  position: relative;
  bottom: 19em;
  /* left: 1em; */
  height: 15em;
  box-shadow: 0 4px 15px red;
}
